<div class="heading secondary-header">Edit profile for <%= @user.name %></div>

<div class="sighting-form">
    <%= form_for @user, :html => {:class => "ui form"} do |f| %>
        <div class="two fields">
            <div class="field">
                <%= f.label :name %>
                <%= f.text_field :name %>
                <p class="error"><%= @user.errors.messages[:name][0]%></p>
            </div>
            <div class="field">    
                <%= f.label :username %>
                <%= f.text_field :username %><br>
                <p class="error"><%= @user.errors.messages[:username][0]%></p>
            </div>
        </div>
        <div class="field">
            <label>Profile photo (url)</label>
            <%= f.text_field :image %>
        </div>
        <div class="field">  
            <label>Favorite trees:</label>
            <div class="ui checkbox">
                <%= f.collection_check_boxes(:tree_ids, Tree.all, :id, :common_name) do |box| %>
                    <div class="ui checkbox">
                        <%=box.check_box%>
                        <label><%= box.text %></label>
                    </div><br>
                <% end %>
            </div>
        </div>
        <%= f.submit "Update", class: "ui yellow button" %>
    <% end %>
</div>
