<div class="heading secondary-heading">Favorite tree not in our database? Add a new tree!</div>

<%= form_for @tree, html: {class: "ui form"} do |f| %>
    <div class="two fields">
        <div class="field">
            <%= f.text_field :common_name, placeholder: "Common name" %>
            <p class="error"><%= @tree.errors.messages[:common_name][0]%></p>
        </div>
        <div class="field">
            <%= f.text_field :binomial_name, placeholder: "Scientific name" %>
            <p class="error"><%= @tree.errors.messages[:binomial_name][0]%></p>
        </div>
    </div>
    <div class="field">
        <label>Type:</label>
        <%= f.select :category, %w(deciduous coniferous), prompt: true %>
        <p class="error"><%= @tree.errors.messages[:category][0]%></p>
    </div>
    <div class="field">
        <label>Favorite tree of:</label>
        <%= f.collection_select :user_ids, User.all, :id, :name %>
    </div>
    <%= f.submit "Create Tree", class: "ui yellow button" %>

<% end %>