<!DOCTYPE html>
<html>
  <head>
    <title>TreeTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Home", home_path %>
    <%= link_to "Browse users", users_path %>
    <%= link_to "Browse trees", trees_path %>
    <%= yield %>
  </body>
</html>
